.containerLogin {
	background: url("../img/fondo1-1.jpg")no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	border: 20px groove #9C644B;
}

.containerWall {
	background: url("../img/fondo1-1.jpg")no-repeat;
	background-size: cover;
	background-position: center;
	height: auto;
	border: 20px groove #9C644B;
}

.imgApple {
	width: 24px;
	height: 24px;
}

.btnApple {
	background: transparent;
	border: none;
	margin-top: 12px;
	outline: none !important;
}

.btnApple:hover {
	background: transparent;
	border: none;
	margin-top: 12px;
}

.appleLike {
	float: right;
	margin-top: 20px;
	color: #ffffff;
}

.containerLogin img {
	width: 100vw;
	/*height: 100vh;*/
}

.containerLogin h1 {
	font-family: "CoalhandLukeTRIAL";
	color: #ffffff;
}

.titleSize {
	font-size: 60px;
}

.titleSizeCuenta {
	color: #B0C6B7;
}

.btn-style {
	background-color: #d3504a;
	border: #d3504a;
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 1);
}

.btn-style_fb {
	background-color: #4267B2;
	border: #4267B2;
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 1);
}

.btn-style_g {
	background-color: #DD4B39;
	border: #4267B2;
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 1);
}

.btn-style:hover {
	background-color: #B0C6B7;
	border: #9C644B;
	color: #ffffff;
	transition: 0.4s;
}

.btn-style_fb:hover {
	background-color: #B0C6B7;
	border: #9C644B;
	color: #ffffff;
	transition: 0.4s;
}

.btn-style_g:hover {
	background-color: #B0C6B7;
	border: #9C644B;
	color: #ffffff;
	transition: 0.4s;
}

.btnCreate {
	font-size: 25px;
	background: transparent;
	border: none;
	color: #B0C6B7;
	cursor: pointer;
}

.btnCreate p {
	text-shadow: 3px 4px 3px black;
}

.btnCreate p:hover {
	text-shadow: 3px 4px 3px black;
}

.btn-style_fb i {
	margin-left: -2px;
	padding-right: 5px;
}

.btn-style_g i {
	margin-left: -2px;
	padding-right: 5px;
}

.enlace_style a {
	color: #ffffff;
}

.titleSizeCuenta {
	font-size: 30px;
}

.titleWall {
	font-family: "CoalhandLukeTRIAL";
	color: #ffffff;
	font-size: 60px;
	margin-top: 30px;
	/*position: fixed;*/
}

.navStyle {
	margin-right: 100px;
}

.navStyle a {
	font-size: 20px;
}

.imgAvatar {
	border-radius: 100px;
	width: 70px !important;
	margin-top: 35px;
	margin-bottom: 10px;
}

.nameUser {
	margin-top: 45px;
	font-size: 25px;
	color: #ffffff;
}

.datePost {
	margin-top: -12px;
	color: #ffffff;
	font-size: 18px;
}

.textPost {
	font-size: 18px;
	color: #666666;
	background-color: #ffffff;
	padding: 20px;
	margin-top: 10px;
	border-radius: 10px;
}

.titlePerfil {
	font-size: 30px;
}

.imgPerfilEdit img {
	border-radius: 100%;
	width: 200px;
	-webkit-box-shadow: 10px 10px 24px -2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 24px -2px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 24px -2px rgba(0, 0, 0, 0.75);
}

.infoPerfil {
	font-size: 20px;
	color: #ffffff;
	margin-bottom: 2px;
}

@font-face {
	font-family: "CoalhandLukeTRIAL";
	src: url("../fonts/CoalhandLukeTRIAL.ttf");
}

.imgLoad {
	background: url("https://loading.io/spinners/gears/lg.dual-gear-loading-icon.gif")no-repeat;
	background-position: center;
	width: 100vw;
	height: 100vh;
}

.btnNav {
	background: transparent;
	border: none;
	color: #482E22;
	font-size: 18px;
	cursor: pointer;
	font-weight: 600;
}

.btnStyle {
	background-color: #C96662;
	border: #C96662;
}

.btnStyle:hover {
	background-color: #899764;
	border: #899764;
}

.imgFondo {
	background-image: url('../img/fondo2.jpg');
}

.introBiography {
	font-family: "CoalhandLukeTRIAL";
	font-size: 25px;
	margin-bottom: -10px;
	margin-top: 15px;
	color: #79B7FD;
}

.menuStyle {
	color: #482E22;
	font-size: 25px;
}

.styleBiography {
	color: #fff!important;
	border: 1px #fff solid;
	padding: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 10px 10px 24px -2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 24px -2px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 24px -2px rgba(0, 0, 0, 0.75);
}

.iconStyle {
	background: #482E22;
}

@media (min-width: 992px) {
	.sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
		padding: 0;
		box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
	}
	.sidebar-sticky {
		position: -webkit-sticky;
		position: sticky;
		top: 0px;
		height: calc(100vh - 0px);
		padding-top: .5rem;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

textarea.able:disabled {
	background: #f3f3f3;
}

.counterLoad {
	background: url("../img/fondo1-1.jpg")no-repeat;
	background-size: cover;
	background-position: center;
	height: auto;
}